<div class="col-md-6 user-container">
    <h2 class="text-center">Mise à jour de l'utilisateur</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="hidden">
        <input type="text" formControlName="_id" placeholder="id" name="_id" class="form-control" id="_id" readonly="true">
      </div>

      <div class="form-group">
          <label for="email">E-mail:</label>
          <input formControlName="email" placeholder="E-mail" name="email" class="form-control" id="email" readonly="true">
      </div>
      
      <div class="form-group">
        <label for="username">Pseudo:</label>
        <input type="text" formControlName="username" placeholder="username" name="username" class="form-control" id="username">
      </div>
    
      <div class="form-group">
        <label for="bio">Bio:</label>
        <input formControlName="bio" placeholder="Biographie" name="bio" class="form-control" id="bio">
      </div>
  
      <div class="form-group">
        <label for="birthday">Date de naissance:</label>
        <input type="date" formControlName="birthday" placeholder="Votre date de naissance" name="birthday" class="form-control" id="birthday">
      </div>

      <button class="btn btn-success">Update</button>
    </form>

    <button class="btn btn-lg btn-outline-primary" (click)="open()">Changer de mot de passe</button>
</div>