<div *ngIf="link">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal"></h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"><small class="text-muted">{{ link.filename }}</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>{{ link.filesize }} Ko</li>
                    <li>{{ link.host }}</li>
                </ul>
                <div class="btn-group btn-block">
                    <!-- <a class="btn btn-lg btn-outline-primary" href="{{ link.link }}" role="button">Télécharger</a> -->
                    <a class="btn btn-lg btn-outline-primary" (click)="onUpload(link)" role="button">Envoi serveur</a>                    
                </div>
            </div>       
        </div>         
    </div>
</div>
<!-- 
<div [hidden]="isShow">
    <app-themoviedb [link]="link"></app-themoviedb>
</div> -->