<div class="container mt-3">
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#menuUser">Utilisateurs</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menuMessage">Messages</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menuDownload">Telechargement</a>
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
        <div id="menuUser" class="container tab-pane active"><br>
        <h3>Utilisateurs</h3>
        <app-list-user></app-list-user> 
        </div>
        <div id="menuMessage" class="container tab-pane fade"><br>
        <h3>Messages</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="menuDownload" class="container tab-pane fade"><br>
        <h3>Telechargement</h3>
        <app-downloader></app-downloader>
        </div>
    </div>
</div>
      